<body>
    <section class="hero-section hero-img" style="background-image: url(./assets/img/fondo-innovatube.jpg)">
        <div class="container">
            <div class="degraded"></div>
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="centrado">
                        <a routerLink="../login" target="_self">
                            <span>
                                <h2 class="active">Iniciar Sesión</h2>
                            </span>
                        </a>
                        <a routerLink="../register" target="_self">
                            <span>
                                <h2 class="inactive underlineHover">Registrarse</h2>
                            </span>
                        </a>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="px-4 pt-2 pb-4">
                        <div class="btn-group d-flex mb-3" role="group">
                            <input type="radio" class="btn-check" name="loginType" id="emailLogin" autocomplete="off"
                                (change)="useEmail=true" checked>
                            <label class="btn btn-outline-primary" style="font-weight: 600"
                                for="emailLogin">Correo</label>
                            <input type="radio" class="btn-check" name="loginType" id="userLogin" autocomplete="off"
                                (change)="useEmail=false">
                            <label class="btn btn-outline-primary" style="font-weight: 600"
                                for="userLogin">Usuario</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control"
                                [placeholder]="useEmail ? 'Correo' : 'Nombre de usuario'"
                                formControlName="usernameOrEmail" id="usernameOrEmail" />
                            <i class="bx" [ngClass]="useEmail ? 'bxs-envelope' : 'bxs-user'"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Contraseña" id="password" />
                            <i class="bx bxs-key login"></i>
                        </div>
                        <div *ngIf="isFormSubmitted && loginForm.invalid" class="alert alert-danger p-1 text-center">
                            ¡Todos los campos deben de completarse!
                        </div>
                        <div>
                            <input type="submit" value="Iniciar Sesión" style="width: 100%;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>