<body>
    <section class="hero-section hero-img" style="background-image: url(./assets/img/fondo-innovatube.jpg)">
        <div class="container">
            <div class="degraded"></div>
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="centrado">
                        <a routerLink="../login" target="_self">
                            <span>
                                <h2 class="inactive underlineHover">Iniciar Sesión</h2>
                            </span>
                        </a>
                        <a routerLink="../register" target="_self">
                            <span>
                                <h2 class="active">Registrarse</h2>
                            </span>
                        </a>
                    </div>
                    <form [formGroup]="registerForm" (ngSubmit)="registerUser()" class="px-4 pt-2 pb-4">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="firstName" placeholder="Nombre"
                                id="firstName" />
                            <i class="bx bxs-user login"></i>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="lastName" placeholder="Apellido"
                                id="lastName" />
                            <i class="bx bxs-user login"></i>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="username"
                                placeholder="Nombre de usuario" id="username" />
                            <i class="bx bxs-user login"></i>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" formControlName="email" placeholder="Correo"
                                id="correo" />
                            <i class="bx bxs-envelope login"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Contraseña" id="password" />
                            <i class="bx bxs-key login"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="confirmPassword"
                                [readonly]="!registerForm.get('password')?.value" placeholder="Confirmar contraseña"
                                id="confirmPassword" />
                            <i class="bx bxs-key login"></i>
                        </div>
                        <div *ngIf="registerForm.hasError('passwordsDontMatch')"
                            class="alert alert-danger p-1 text-center">
                            ¡Las contraseñas no coinciden!
                        </div>
                        <div *ngIf="isFormSubmitted && registerForm.invalid" class="alert alert-danger p-1 text-center">
                            ¡Todos los campos deben de completarse!
                        </div>
                        <div id="recaptcha-container" class="d-flex justify-content-center align-items-center mb-3">
                        </div>
                        <div>
                            <input type="submit" value="Registrarse" style="width: 100%;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>